@theme {
  --color-tertiary: #120a00;
  --color-on-surface: #131c29;
  --color-surface: #f8f9ff;
  --color-background: #F7F5F0;
  --color-on-secondary-fixed: #001c3b;
  --color-on-secondary-container: #455c80;
  --color-secondary-fixed-dim: #b0c8f0;
  --color-primary-fixed: #d9e2ff;
  --color-surface-container-high: #e0e9fa;
  --color-inverse-primary: #b9c6ea;
  --color-surface-container-lowest: #FCFCFB;
  --color-surface-variant: #dae3f5;
  --color-outline-variant: #E1E5EA;
  --color-on-tertiary-fixed-variant: #5d4202;
  --color-on-tertiary: #ffffff;
  --color-surface-bright: #f8f9ff;
  --color-on-primary-fixed-variant: #3a4664;
  --color-on-error: #ffffff;
  --color-tertiary-fixed: #ffdea5;
  --color-error-container: #ffdad6;
  --color-secondary: #485f83;
  --color-secondary-container: #bed6ff;
  --color-outline: #75777e;
  --color-on-primary-fixed: #0d1b36;
  --color-surface-container-highest: #dae3f5;
  --color-on-primary-container: #7c89aa;
  --color-surface-tint: #525e7d;
  --color-surface-dim: #d1daec;
  --color-on-tertiary-container: #a68441;
  --color-inverse-surface: #28313e;
  --color-secondary-fixed: #d5e3ff;
  --color-inverse-on-surface: #ebf1ff;
  --color-primary: #14213D;
  --color-tertiary-fixed-dim: #e9c178;
  --color-on-surface-variant: #45464d;
  --color-tertiary-container: #2e1f00;
  --color-surface-container: #e6eeff;
  --color-on-tertiary-fixed: #271900;
  --color-surface-container-low: #eff4ff;
  --color-primary-fixed-dim: #b9c6ea;
  --color-error: #ba1a1a;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed-variant: #30476a;
  --color-on-background: #131c29;
  --color-primary-container: #14213d;
  --color-on-primary: #ffffff;
  --color-on-error-container: #93000a;
  
  /* Brand Specific */
  --color-academic-navy: #14213D;
  --color-warm-ivory: #F7F5F0;
  --color-soft-white: #FCFCFB;
  --color-deep-navy: #0A1224;
  --color-mist-gray: #E1E5EA;
  --color-muted-gold: #C6A15B;

  --radius-sm: 0.25rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
  --spacing-gutter: 24px;
  --spacing-base: 4px;
  --spacing-margin-desktop: 40px;
  --spacing-margin-mobile: 16px;
  --spacing-container-max: 1280px;

  --font-display-lg: Manrope, sans-serif;
  --font-label-md: Inter, sans-serif;
  --font-headline-md: Manrope, sans-serif;
  --font-body-sm: Inter, sans-serif;
  --font-headline-lg-mobile: Manrope, sans-serif;
  --font-label-lg: Inter, sans-serif;
  --font-body-lg: Inter, sans-serif;
  --font-body-md: Inter, sans-serif;
  --font-headline-lg: Manrope, sans-serif;
  --font-headline-sm: Manrope, sans-serif;
  --font-numeral-lg: Manrope, sans-serif;
  --font-display-sm: Manrope, sans-serif;
  --font-title-lg: Manrope, sans-serif;
  --font-caption: Inter, sans-serif;
}
